// Home Page
.home {
  height: 100%;
  background: #6a6a6a;
  position: relative;
  &-wrap {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 10px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 30px 15px #292929;
  }
}